.post-type-block_lab .tablenav.top,
.post-type-block_lab .search-box,
.post-type-block_lab .inline-edit-date,
.post-type-block_lab .inline-edit-group {
	display: none;
}
.post-type-block_lab .column-template code {
	background: none;
	font-size: 12px;
	padding-left: 0;
}
.post-type-block_lab .fixed .column-icon {
	width: 10%;
}
.post-type-block_lab .fixed td.column-icon {
	color: #72777c;
}
.post-type-block_lab .fixed td.column-icon .icon {
	background: #ffffff;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 4px;
	width: 24px;
	height: 24px;
	display: inline-block;
}
.post-type-block_lab .fixed .column-fields {
	width: 10%;
}
