#minor-publishing-actions,
#misc-publishing-actions #visibility,
#misc-publishing-actions .curtime {
	display: none;
}
#misc-publishing-actions .block-lab-pub-section {
	padding: 6px 10px 14px;
}
#misc-publishing-actions .block-lab-pub-section:before {
	content: "\f537";
	color: #82878c;
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	margin-left: -1px;
	padding-right: 3px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#misc-publishing-actions .block-lab-pub-section .post-types-display {
	font-weight: bold;
}
#misc-publishing-actions .block-lab-pub-section .post-types-select {
	display: none;
}
#misc-publishing-actions .block-lab-pub-section .post-types-select .post-types-select-items {
	margin: 3px 0;
	border: 1px solid #eeeeee;
	padding: 6px 10px;
	margin-bottom: 6px;
}
#block_fields a,
#block_fields a:focus {
	outline: none;
	box-shadow: none;
}
#block_fields .handlediv,
#block_fields .hndle {
	display: none;
}
#block_fields .inside {
	padding: 0;
	margin: 0;
}
#block_fields .block-fields-list .widefat {
	border: none;
}
#block_fields .block-fields-list td {
	padding: 0;
	line-height: 0;
}
#block_fields .block-fields-list thead th {
	font-weight: 600;
	width: 32%;
	border-bottom: 1px solid #eee;
}
#block_fields .block-fields-list thead th.block-fields-sort {
	width: 4%;
	min-width: 32px;
}
#block_fields .block-fields-list tbody {
	background: #f5f5f5;
}
#block_fields button {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: #0073aa;
	font-weight: bold;
	transition: none;
	line-height: 20px;
}
#block_fields button:hover {
	color: #00a0d2;
}
#block_fields button:active,
#block_fields button:focus {
	outline: 0;
}
#block_fields button > .dashicons {
	color: #0073aa;
	font-size: 12px;
	border: 2px solid #0073aa;
	border-radius: 10px;
	padding: 0;
	margin: 1px 4px 0 0;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 16px;
	transition: none;
}
#block_fields button:hover > .dashicons {
	color: #00a0d2;
	border-color: #00a0d2;
}
#block_fields .block-fields-rows {
	width: 100%;
	line-height: 1.5em;
}
#block_fields .block-fields-rows .block-no-fields {
	display: none;
	padding: 20px 10px 10px;
	margin: 0;
	text-align: center;
}
#block_fields .block-fields-rows .block-fields-row {
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	margin: 10px 10px 0;
}
#block_fields .block-fields-rows .block-fields-row-columns {
	display: grid;
	grid-template-columns: [handle] minmax( 20px, calc(4% - 10px) ) calc(32% + 14px) calc(32% + 14px) calc(32% - 18px);
}
#block_fields .block-fields-rows .block-fields-row > div {
	padding: 8px 10px;
}
#block_fields .block-fields-sort-handle:before {
	content: "\f545";
}
#block_fields .block-fields-sort-handle {
	display: none;
	width: 15px;
	height: 15px;
	font-family: 'Dashicons', monospace;
	font-size: 15px;
	line-height: 15px;
	cursor: grab;
	padding-top: 2px;
}
#block_fields .block-fields-rows .row-title {
	display: block;
	padding-bottom: 6px;
}
#block_fields .block-fields-actions-add-field {
	padding: 20px 10px;
	clear: both;
	background: #f5f5f5;
	text-align: center;
}
#block_fields .block-fields-actions {
	font-size: 12px;
	line-height: 12px;
	visibility: hidden;
}
#block_fields .block-fields-row-columns:hover > .block-fields-label .block-fields-actions {
	visibility: visible;
}
#block_fields .block-fields-row-columns:hover > .block-fields-sort .block-fields-sort-handle {
	display: block;
}
#block_fields .block-fields-rows .block-fields-row .block-fields-edit {
	display: none;
	grid-column: 1 / span 4;
	padding: 0;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}
#block_fields .block-fields-rows .block-fields-row .block-fields-edit tbody {
	background: #f7f7f7;
}
#block_fields .block-fields-rows .block-fields-edit td,
#block_fields .block-fields-rows .block-fields-edit th {
	padding: 8px 10px;
}
#block_fields .block-fields-rows .block-fields-edit td.spacer {
	width: 4%;
}
#block_fields .block-fields-rows .block-fields-edit th {
	font-size: 12px;
	width: 32%;
	border-right: 1px solid #e1e1e1;
}
#block_fields .block-fields-rows .block-fields-edit th label {
	font-weight: 600;
}
#block_fields .block-fields-rows .block-fields-control {
	display: flex;
}
#block_fields .block-fields-rows .block-fields-control span.pro-required {
	margin-left: 0.5rem;
}
#block_fields .block-fields-rows input[readonly="readonly"],
#block_fields .block-fields-rows textarea[readonly="readonly"] {
    color: #999;
}
#block_fields .block-fields-rows .button-group > .button {
	width: 5em;
	position: relative;
	z-index: 10;
}
#block_fields .block-fields-rows .button-group > .button:last-of-type {
	border-radius: 0 3px 3px 0;
}
#block_fields .block-fields-rows .button-group > .button:hover {
	z-index: 30;
}
#block_fields .block-fields-rows .button-group > .button:checked {
	background: #eee;
	border-color: #999;
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 1px 0 #cccccc;
	z-index: 20;
}
#block_fields .block-fields-rows .button-group > .button:checked:before {
	width: 0;
	height: 0;
	background-color: transparent;
}
#block_fields .block-fields-rows .button-group > label {
	font-size: 13px;
	position: absolute;
	margin-left: -5em;
	width: 5em;
	top: 13px;
	text-align: center;
	pointer-events: none;
	z-index: 40;
}
#block_fields .block-fields-rows .block-fields-edit-loading .loading:before {
	content: '';
	box-sizing: border-box;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #e1e1e1;
	border-top-color: #444;
	animation: spinner .6s linear infinite;
}
@media only screen and (max-width: 850px) {
	#block_fields .block-fields-rows {
		max-height: none;
		overflow-x: auto;
		overflow-y: auto;
		line-height: 1.5em;
	}
}
#block_fields .block-fields-rows .block-fields-row .block-fields-sub-rows {
	grid-column: 1 / span 4;
	margin: 0 10px;
	padding: 0 0 0 32px;
	overflow: hidden;
}
#block_fields .block-fields-sub-rows .block-fields-row-columns {
	grid-template-columns: [handle] minmax( 20px, 3% ) calc(33% - 22px) calc(32% + 38px) calc(32% - 16px);
}
#block_fields .block-fields-rows .block-fields-row .block-fields-sub-rows .block-fields-row {
	border: none;
	background: #f7f7f7;
}
#block_fields .block-fields-rows .block-fields-row .block-fields-sub-rows-actions {
	grid-column: 1 / span 4;
	padding: 0;
	margin: 0 10px 0 42px;
	text-align: center;
	background: #fff;
}
#block_fields .block-fields-rows .block-fields-row .block-fields-sub-rows-actions p {
	padding: 10px 0;
	margin: 10px 0;
}
#block_fields .block-fields-rows .block-fields-row .block-fields-sub-rows-actions p.repeater-no-fields {
	background: #f7f7f7;
}
#block_fields .block-fields-rows .block-fields-row .block-fields-sub-rows-actions button {
	margin-left: -32px;
}

#block_properties input,
#block_properties select,
#block_properties label {
	width: 100%;
	display: block;
}
#block_properties #block-properties-icon-current {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-right: 0;
	border-radius: 3px 0 0 3px;
	padding: 3px 6px;
	margin-right: 0;
	width: 24px;
	height: 24px;
	display: inline-block;
	box-shadow: 0 1px 0 #cccccc;
}
#block_properties #block-properties-icon-current svg {
	color: #23282d;
	fill: #23282d;
}
#block_properties .block-properties-icon-button {
	width: auto;
	display: inline-block;
	vertical-align: top;
	margin-left: -4px;
	border-radius: 0 3px 3px 0;
	height: 32px;
	line-height: 28px;
	padding: 0 10px 1px;
}
#block_properties .block-properties-icon-button:active {
	transform: translateY(0);
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 ), 0 1px 0 #cccccc;
}
#block_properties #block-properties-icon-select,
#block_properties #block-properties-icon-close,
#block_properties #block-properties-icon-choose:target {
	display: none;
}
#block-properties-icon-choose:target + #block-properties-icon-close {
	display: inline-block;
}
#block-properties-icon-choose:target ~ #block-properties-icon-select {
	display: block;
}
#block_properties .block-properties-icon-select {
	background: #f9f9f9;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 4px;
	margin: 5px 0 0;
	height: 110px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}
#block_properties .block-properties-icon-select .icon {
	display: inline-block;
	padding: 4px;
	margin: 1px;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	color: #72777c;
	font-size: 25px;
	width: 1em;
	height: 1em;
}
#block_properties .block-properties-icon-select .icon:hover {
	background: #fff;
	border: 1px solid #aaa;
	color: #444;
}
#block_properties .block-properties-icon-select .icon.selected,
#block_properties .block-properties-icon-select .icon.selected:hover {
	border: 1px solid rgba(0, 160, 210, 1);
	color: rgba(0, 160, 210, 1);
	fill: rgba(0, 160, 210, 1);
}
#block_properties .block-properties-icon-select .icon svg {
	vertical-align: top;
}
#block_properties .block-properties-category-custom {
	display: none;
	margin: 12px 0;
}
#block_template > h2 {
	display: none;
}
#block_template .inside {
	padding: 0;
	margin: 0;
}
#block_template .template-notice {
	background: #fff;
	border-left: 4px solid #ffffff;
	padding: 1px 12px;
	border-left-color: #7D5DEC;
}
#block_template .template-success {
	border-left-color: #46b450;
}
#block_template .template-location {
	margin: 0 0 6px;
	padding: 5px 8px;
	background: rgba(0, 0, 0, 0.07);
	display: inline-block;
	font-size: 0;
}
#block_template .template-location * {
	font-size: 12px;
	line-height: 23px;
}
#block_template .template-location a.filename {
	color: #444;
	text-decoration: none;
	border-bottom: 1px dotted #444;
}
#block_template .template-location a.filename:focus {
	outline: none;
	box-shadow: none;
}
#block_template .template-location .click-to-copy {
	display: none;
}
#block_template .template-location .click-to-copy input {
	color: #444;
	margin: 0;
	font-size: 12px;
	line-height: 15px;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -60px;
	padding: 7px;
	width: 120px;
	border-radius: 3px;
	background-color: #000;
	background-color: rgba(40, 40, 40, 0.95);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 12px;
	line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: 3px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid rgba(40, 40, 40, 0.95);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

@keyframes spinner {
	to {
		transform: rotate( 360deg );
	}
}
