#acb_block_fields .handlediv,
#acb_block_fields .hndle {
	display: none;
}
#acb_block_fields .inside {
	padding: 0;
	margin: 0;
}
#acb_block_fields .acb-fields-rows .widefat {
	border: none;
}
#acb_block_fields .acb-fields-rows thead th {
	font-weight: 600;
}
#acb_block_fields .acb-fields-rows .acb-fields-row.alternate {
	background: #f9f9f9;
}
#acb_block_fields .acb-fields-rows .row-title {
	display: block;
	padding-bottom: 6px;
}
#acb_block_fields .acb-fields-actions {
	padding: 10px;
	clear: both;
	border-top: 1px solid #ddd;
	background: #f5f5f5;
	text-align: right;
}
#acb_block_fields .acb-fields-options {
	font-size: 12px;
	line-height: 12px;
	visibility: hidden;
}
#acb_block_fields tr:hover .acb-fields-options {
	visibility: visible;
}
#acb_block_fields .acb-fields-new {
	display: none;
}
#acb_block_fields .acb-fields-new th,
#acb_block_fields .acb-fields-new td {
	border-top: 1px solid #f0f0f0;
}
#acb_block_fields .acb-fields-new-close th,
#acb_block_fields .acb-fields-new-close td {
	border-bottom: 1px solid #e1e1e1;
}
#acb_block_fields .acb-fields-new th {
	background: #f9f9f9;
	border-right: 1px solid #e1e1e1;
	font-size: 12px;
}
#acb_block_fields .acb-fields-new th label {
	font-weight: 600;
}
