{
  "root": true,
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended",
    "plugin:import/recommended",
    "plugin:eslint-comments/recommended"
  ],
  "globals": {
    "wp": "readonly"
  },
  "rules": {
    "@wordpress/dependency-group": "error",
    "@wordpress/react-no-unsafe-timeout": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "never"
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ]
  }
}
