{
  "root": true,
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended",
    "plugin:import/recommended",
    "plugin:eslint-comments/recommended"
  ],
  "globals": {
    "wp": "readonly"
  },
  "rules": {
    "@wordpress/dependency-group": "error",
    "@wordpress/react-no-unsafe-timeout": "error",
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ]
  }
}
