$black: #222;
$dark: rgba(0, 0, 0, 0.39);
$light: rgba(140, 140, 151, 0.1);
$input-padding: 8px;
$input-width: 300px;

/* The variables and mixins below are taken from Gutenberg's URLInput component styling in url-input/style.scss. */
$dark-gray-300: #6c7781; // Lightest gray that can be used for AA text contrast.
$light-gray-500: #e2e4e7;
$default-font-size: 13px;
$white: #fff;
$break-small: 600px;

@mixin break-small() {
	@media (min-width: #{ ($break-small) }) {
		@content;
	}
}

/* Menu items. */
@mixin menu-style__neutral() {
  border: none;
  box-shadow: none;
}

/* Block form in editor */
div[class^="wp-block-block-lab-"] {
  margin: 0;
  padding: 5px;

  .block-form {
    border: 5px solid $dark;
    background: $light;
    padding: 1rem;
    font-size: 0.8125rem;

    h3 {
      color: $black;
      font-size: 1rem;
      margin: 0;

      svg {
        position: relative;
        top: 6px;
        margin-right: 4px;
      }
    }

    p {
      font-size: 1rem;
    }

    .components-base-control__field {
      margin: 1em 0 0;

      .components-base-control__label {
        font-weight: 600;
      }
    }

    .components-base-control__help {
      margin: 0 0 1em 0.5em;
      font-size: 1em;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  /* Media Upload Component */
  .block-lab-media-control {
    > .components-base-control__field {
      display: flex;
      flex-wrap: wrap;

      > .components-base-control__label {
        flex: 3 3 100%;
      }

      > .components-base-control {
        flex: 3 1 auto;
        margin-bottom: 0 !important;

        .components-base-control__field {
          margin: 0 !important;
          width: 100%;
          height: 100%;
        }
      }

      .components-spinner {
        margin-right: 0;
        margin-top: 6px;
      }

      .components-form-file-upload {
        flex: 1;
        line-height: 2.5;
        margin-left: 1em;
      }

      .components-media-library-button {
        flex: 1;
        margin-left: 1em;
      }
    }
  }

  /* FetchInput component */
  .bl-fetch-input {
    max-width: $input-width;
  }
}

/* Block form in sidebar */
.edit-post-settings-sidebar__panel-block .components-panel__body {
  /* Media Upload Component */
  .block-lab-media-control {
    .components-base-control {
      margin-bottom: 0 !important;
    }

    .components-spinner {
      margin-top: 5px;
    }

    .components-form-file-upload {
       display: inline-block;
       margin-right: 1em;
     }

    .components-media-library-button {
      display: inline-block;
      vertical-align: top;

      button {
        display: block;
        margin: 0;
      }
    }
  }

  /* The FetchInput component */
  .bl-fetch--input input[type="text"] {
    width: 100%;
  }
}

/* Block form in editor & sidebar */
div[class^="wp-block-block-lab-"],
.edit-post-settings-sidebar__panel-block .components-panel__body {

  :required:invalid {
    border-color: #C00000;
  }

  .text-control__error {
    border-color: #d94f4f;
    box-shadow: 0 0 0 1px #d94f4f;
  }

  /* Color Control Component */
  .block-lab-color-control {

    .components-base-control {
      display: inline-block;
      margin-bottom: 0 !important;

      .components-base-control__field {
        margin: 0 !important;
        width: 100%;
        height: 100%;
      }

      &.block-lab-color-popover {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin: 1px 1em !important;
        background-image: linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(-45deg, #ddd 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(-45deg, transparent 75%, #ddd 75%);
        background-size: 10px 10px;
        background-position: 0 0, 0 5px, 5px -5px, -5px 0;
        display: inline-block;
        vertical-align: top;
        border: none;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
        transition: 100ms transform ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.2)
        }

        .component-color-indicator {
          width: 100%;
          height: 100%;
          margin: 0;
          border: none;
          border-radius: 50%;
        }
      }
    }
  }

  // Image control
  .bl-image__img {
    max-height: 10rem;
  }
}

/* Miscellaneous global styles */
.edit-post-layout {
  .components-popover:not(.is-mobile):not(.bl-fetch__popover) .components-popover__content {
    min-width: 340px;
  }
}

/*
 * FetchInput styling forked from URLInput styling in Gutenberg, with different class names.
 * This uses a Popover, which often appears outside of its container.
 * So this doesn't work inside the "Block form in editor" section above.
 * @see https://github.com/WordPress/gutenberg/blob/fd2468d6c486220f7f1fa5bfa2366c510b46af27/packages/editor/src/components/url-input/style.scss#L42
 */
.bl-fetch__input {
  width: 100%;
}

.bl-fetch__popover.editor:not(.is-mobile) .components-popover__content {
  width: $input-width;
}

.bl-fetch__popover.inspector:not(.is-mobile) .components-popover__content {
  min-width: 247px;
}

.bl-fetch-input__suggestions {
  max-height: 200px;
  transition: all 0.15s ease-in-out;
  padding: 4px 0;
  overflow-y: auto;
}

// Hide suggestions on mobile until we @todo find a better way to show them.
.bl-fetch-input__suggestions,
.bl-fetch-input .components-spinner {
  display: none;
  @include break-small() {
      display: inherit;
  }
}

.bl-fetch-input {
  > .components-base-control__field {
    display: flex;
    flex-wrap: wrap;

    > .components-base-control__label {
      flex: 3 3 100%;
    }

    > .bl-fetch__input {
      flex: 1 1 0;
    }
    > .components-spinner {
      flex: 0 0 auto;
    }
  }
}

.bl-fetch-input__suggestion {
  padding: 4px $input-padding;
  color: $dark-gray-300; // Lightest we can use for contrast.
  display: block;
  font-size: $default-font-size;
  cursor: pointer;
  background: $white;
  width: 100%;
  border: none;
  text-align: left;
  @include menu-style__neutral();

  &:hover {
    background: $light-gray-500;
  }

  &:focus,
  &.is-selected {
    background: rgb(0, 113, 158);
    color: $white;
    outline: none;
  }
}